
[Service]
Type=oneshot
WorkingDirectory=/home/ncs/ansible-todo

ExecStart=/usr/bin/docker compose up -d --no-build

ExecStop=/usr/bin/docker compose down

RemainAfterExit=yes

User=ncs


[Install]
WantedBy=multi-user.target
